

:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
  --red: #d81515;
  --very-grey-black: #f0f0f0;
  --grey-black: #565656;
  --grey-grey-black: rgb(189, 189, 189);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  /* font-size: 10px; */
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  /* overflow-x: hidden; */
}

/* Starting the navbar */

.brand-name {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 98px;
  top: 77px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;

  color: #000000;
}

.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 48px;

  position: absolute;
  width: 570px;
  height: 104px;
  left: 270px;
  top: 49px;
}

.nav__buttons {
  position: absolute;
  /* right: 10px; */
  background-color: chocolate;
  color: green;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: var(--grey-black);
}

ul {
  list-style: none;
}

.nav__item .nav-link-login {
  position: absolute;
  width: 69px;
  height: 31px;
  left: 973px;
  top: 86px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;

  color: #d81515;
}

.nav__item .nav-link-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;

  position: absolute;
  width: 121px;
  height: 53px;
  left: 1073px;
  top: 77px;

  background: #ffffff;
  border: 1px solid #535353;
  box-sizing: border-box;
  border-radius: 37px;
}

/* Header */

.header {
  position: absolute;
  /* width: 1200px; */
  width: 100%;
  height: 120px;
  left: 0px;
  top: 150px;

  background: #565656;
}

.header_route h3 {
  position: absolute;
  width: 182px;
  height: 33px;
  left: 550px;
  top: 40px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  /* identical to box height */

  color: #ffffff;
}

/* Sign Up Form */

.signup_form {
  position: absolute;
  width: 450px;
  height: 550px;
  left: 430px;
  top: 380px;

  /* background: var(--red); */
  background: rgb(189, 189, 189);

  border: 1px solid #4f3e52;
  border: none;
  box-sizing: border-box;
  box-shadow: 2px 9px 22px 4px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}

.signup_form .form_wrapper{
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 90%;
  margin: 0 5%;

}

.signup_form .heading-secondary {
  position: absolute;
  width: 159px;
  height: 59px;
  left: 190px;
  top: 20px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 52px;

  color: var(--red);
}

.signup_form label {
  color: var(--grey-black);
}

.signup_form p {
  color: var(--grey-black);
}

.signup_form input:focus {
  outline: 0;
}

.signup_inputs.success input {
  border: 1px solid rgb(43, 214, 0);
  border-color: greenyellow;
  /* background-color: hotpink; */
}

.signup_inputs.success .error {

}

.signup_form .error-names {
  position: absolute;
  top: 170px;
  left: 80px;
  font-family: Noto serif;

  font-size: 20px;
  color: #e72222;
}

.signup_form .error-password {
  position: absolute;
  top: 370px;
  left: 80px;
  font-family: Noto serif;

  font-size: 20px;
  color: #e72222;
}

.signup_form .error-email {
  position: absolute;
  top: 270px;
  left: 80px;
  font-family: Noto serif;
  /* font-weight: bold; */
  font-size: 20px;
  color: #e72222;
}

.signup_inputs input:focus {
  border: 2px solid rgb(0, 174, 255);
}

.signup_names {
  position: absolute;
  width: 89px;
  height: 37px;
  left: 80px;
  top: 100px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;

  color: #ffffff;
}

.signup_names_input {
  position: absolute;
  width: 479px;
  height: 46px;
  left: 80px;
  top: 140px;

  background: #dbdbdb;
  border-radius: 15px;
  padding-left: 20px;
  outline: none;
}

.signup_email {
  position: absolute;
  width: 102px;
  height: 37px;
  left: 80px;
  top: 200px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;

  color: #ffffff;
}

.signup_email_input {
  position: absolute;
  width: 479px;
  height: 46px;
  left: 80px;
  top: 240px;
  background: #dbdbdb;
  border-radius: 15px;
  padding-left: 20px;
  outline: none;
}

.signup_password {
  position: absolute;
  width: 112px;
  height: 37px;
  left: 80px;
  top: 300px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;

  color: #ffffff;
}

.signup_password_input {
  position: absolute;
  width: 479px;
  height: 46px;
  left: 80px;
  top: 340px;
  padding-left: 20px;

  background: #dbdbdb;
  border-radius: 15px;
}

.signup_submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;

  position: absolute;
  font-family: Noto Serif;
  width: 120px;
  height: 30px;
  left: 80px;
  top: 420px;
  background: var(--red);
  color: white;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  border-radius: 37px;
}

.else_login {
  position: absolute;
  width: 298px;
  height: 37px;
  left: 80px;
  top: 490px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;

  color: #ffffff;
}

.signup_inputs input {
  width: 280px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 8px;
}

/* Footer */

.footer .newsletter_form {
  position: absolute;
  width: 898px;
  height: 129px;
  left: 220px;
  top: 1113px;

  background: #d81515;
  border-radius: 24px;
}

.newsletter_box .btn_submit {
  position: absolute;
  width: 174px;
  height: 46px;
  outline: none;
  border: none;
  left: 650px;
  top: 40px;
  color: #d81515;
  font-weight: bold;
  font-size: 20px;
  font-family: Noro Serif;

  background: #ffffff;
  border-radius: 15px;
}

.user_email_newsletter {
  position: absolute;
  width: 578px;
  height: 46px;
  left: 40px;
  top: 40px;
  border: none;
  outline: none;
  padding: 20px;

  background: #dbdbdb;
  border-radius: 15px;
}


.footer-footer {
  position: absolute;
  width: 100%;
  height: 468px;
  left: 0px;
  top: 1166px;

  background: #393939;
  z-index: -1;
}

.footer-footer .brand_name {
  position: absolute;
  width: 163px;
  height: 42px;
  left: 40px;
  top: 150px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #d7d7d7;
}

.quick_links {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 350px;
  top: 150px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #d7d7d7;
}

.bio_list1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0px;

  position: absolute;
  width: 185px;
  height: 126px;
  left: 350px;
  top: 230px;
}

.footer_blog {
  position: absolute;
  width: 84px;
  height: 42px;
  left: 600px;
  top: 150px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #d7d7d7;
}

.about_me {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 850px;
  top: 150px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  color: #d7d7d7;
}

.bio_list2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0px;

  position: absolute;
  width: 185px;
  height: 126px;
  left: 600px;
  top: 230px;
}

.bio_list3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0px;

  position: absolute;
  width: 185px;
  height: 126px;
  left: 850px;
  top: 230px;
}

.brand_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 241px;
  height: 68px;
  left: 550px;
  top: 380px;
  color: var(--very-grey-black);
}

.attribution {
  position: absolute;
  left: 590px;
  top: 440px;
}
