

:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
  --red: #d81515;
  --very-grey-black: #f0f0f0;
  --grey-black: #565656;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  /* font-size: 10px; */
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  /* overflow-x: hidden; */
}

.blog_cards {
    font-family: Noto Serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    color: black;
  }


/* Header */

.header {
    /* width: 1200px; */
    width: 100%;
    height: 120px;
    font-family: Noto serif;
    margin-top: 0;
   
   
  
    background: #4b4b4b;
  }
  
  .header_route h3 {
    width: 100%;
    height: 100%;
    /* margin-left: 35%;
    margin-top: 4%; */
    padding-left: 43%;
    padding-top: 3%;
  
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;

  
    /* identical to box height */
  
    color: #ffffff;
  }

  /* Starting the navbar */

.navbar {
    display: flex;
}

.nav {
    display: flex;
}

.brand-name {
 
    width: 150px;
    height: 60px;
    margin-left: 98px;
    margin-top: 35px;
  
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
  
    color: #000000;
    background-color: rgb(255, 255, 255);
  }
  
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 48px;
    font-family: Noto serif;
  
    /* position: absolute; */
    width:670px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 23px;
    /* background-color: red; */
  }
  
 
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--grey-black);
  }
  
  ul {
    list-style: none;
  }
  
  
  .nav__buttons .nav__item .nav-link-signup {

      display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 28px;
  
   
    width: 121px;
    height: 53px;
    margin-left: 90%;
    margin-top: 30px;
    color: white;
  
    background: #535353;
    border: 1px solid var(--red);
    box-sizing: border-box;
    border-radius: 37px;
  }
  
  .nav__buttons .nav__item .nav-link-signup:hover{
      background-color: var(--red);
  }



  /* Write Article */

  .card-body {
      margin-left: 32%;
      margin-bottom: 5%;
  }

  .write-blog {
    color: var(--red);
    font-weight: bold;
    font-family: Noto serif;
    font-size: 40px;
    margin-left: 13%;
    margin-bottom: 3%;

}

#post-form label {
    font-family: Noto serif;
    font-size: 25px;
    font-weight: bold;
}

#post-title {
 
    width: 479px;
    height: 46px;
  
    border: none;
    outline: none;
    padding: 20px;
  
    background: #dbdbdb;
    border-radius: 15px;
  }

  #post-sub-title {
 
    width: 479px;
    height: 46px;
  
    border: none;
    outline: none;
    padding: 20px;
  
    background: #dbdbdb;
    border-radius: 15px;
  }

  #post-Image {
 
    width: 479px;
    height: 46px;
  
    border: none;
    outline: none;
    padding: 20px;
  
    background: #dbdbdb;
    border-radius: 15px;
  }

#post {
   
    width: 479px;
    height: 224px;
    border: none;
    outline: none;
    padding: 20px;

  
    background: #dbdbdb;
    border-radius: 15px;
  }

  .btn-success {
    align-items: center;

font-family: Noto serif;
font-weight: bold;
width: 80px;
height: 40px;
border: none;
outline: none;


background: var(--grey-black);
border-radius: 37px;
color: white;

margin-top: 10px;
}

.btn-success:hover {
    background-color: var(--red);
}

/* update article*/

.card-body {
  margin-left: 32%;
  margin-bottom: 5%;
}

.update-blog {
color: var(--red);
font-weight: bold;
font-family: Noto serif;
font-size: 20px;
margin-left: 30%;
margin-bottom: 3%;

}

#update-form label {
font-family: Noto serif;
font-size: 15px;
font-weight: bold;
}

#post-title-update {

width: 479px;
height: 30px;

border: none;
outline: none;
padding: 10px;

background: #dbdbdb;
border-radius: 8px;
}

#post-sub-title-update {

width: 479px;
height: 30px;

border: none;
outline: none;
padding: 10px;

background: #dbdbdb;
border-radius: 8px;
}

#update-Image {

width: 479px;
height: 30px;

border: none;
outline: none;
padding: 10px;

background: #dbdbdb;
border-radius: 8px;
}

#post-update {

width: 479px;
height: 224px;
border: none;
outline: none;
padding: 10px;


background: #dbdbdb;
border-radius: 8px;
}

.btn-success {
align-items: center;

font-family: Noto serif;
font-weight: bold;
width: 80px;
height: 40px;
border: none;
outline: none;


background: var(--grey-black);
border-radius: 37px;
color: white;

margin-top: 10px;
}

.btn-success:hover {
background-color: var(--red);
}

.update-box{
  position: absolute;
  background-color: #000000a4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.update-box .card-body-update {
  background-color: #FFF;
  width: 50%;
  height: 100%;
  margin-left: 25%;
}

.card-body-update #update-form {
  padding: 8% 13%;
}
  

  



  /* Cards  */
  
.card {
    /* position: absolute; */

    width: 320px;
    height: 480px;
    flex-direction: row;
    flex-wrap: wrap;


  
    background-color: #ffffff;
    box-shadow: 0px 8px 40px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    transition: 0.3s;
    margin: 30px 0;
}

.card:hover {
    background-color: rgba(224, 224, 224, 0.87);
}

.blog_cards .card img {
    width: 320px;
    height: 226px;
    left: 0px;
    top: 0px;
  
   
    border-radius: 18px;
  }

.card .card_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

.blog_cards .card .card_content_container {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .blog_cards .card .card_content_container p {
    margin-bottom: 15px;
  }
  
  .blog_cards .card .card_content_container .card_stars {
    margin-bottom: 15px;
  }

  .btn-delete {
    /* align-items: center; */
font-family: Noto serif;
font-weight: bold;
width: 80px;
height: 40px;
border: none;
outline: none;


background: var(--grey-black);
border-radius: 37px;
color: white;


margin-left: 60px;
}

.btn-delete:hover {
    background-color: var(--red);
}

.btn-update {
  /* align-items: center; */
font-family: Noto serif;
font-weight: bold;
width: 80px;
height: 40px;
border: none;
outline: none;


background: var(--grey-black);
border-radius: 37px;
color: white;


/* margin-left: 35px; */
}

.btn-update:hover {
  background-color: var(--red);
}


.loading {
    color: var(--grey-black);
    margin-left: 40%;
    margin-top: 5%;
}

#iconify-loading {
    color: var(--red);
}

.myArticles {
    color: var(--red);
    font-weight: bold;
    font-family: Noto serif;
    font-size: 40px;
    margin-left: 42%;

}